.git
.gitignore

**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
.pytest_cache

.env
.env.*
**/.env
**/.env.*

postgres/data
postgres/backups
postgres/archive

grafana/data
logs
**/*.log

*.tar
*.tar.gz
*.tgz
*.zip

app/tests/.pytest_cache
